@font-face { font-family: Montserrat; src: url('fonts/montserratb.otf'); } 
@font-face { font-family: Raleway; src: url('fonts/ralewayl.ttf'); } 

p {
   font-family: Raleway, sans-serif;
}

h1 {
   font-family: Montserrat, sans-serif;
   font-size: 20px;
}

body {
   overflow-x: hidden;
}

.titulo {
   background-color: gray;
   width: 100%;
   height: 40px;
   padding: 6px 0px 10px 40px;
   color: white;
   font-size: 20px;
}

.subtitulo {
   background-color: ;
   width: 100%;
   height: 40px;
   padding: 6px 0px 20px 5px;
   margin: 0px 0px 8px 0px;
}

.footer {
   background-color: gray;
   width: 100%;
   height: 40px;
   padding: 6px 0px 10px 0px;
   color: black;
   font-size: 20px;
}

.img {
   max-height: 200px;
}

#botones {
   float: right;
   padding: 6px 0px 10px 0px;
}

#formulario {
   padding: 6px 0px 10px 0px;
}

#mapa {
   padding: 6px 0px 10px 50px;
}

#mapaxs {
   padding: 6px 0px 10px 10px;
}